.product-item {
  border: 1px solid grey;
  margin: 1em;
  padding: 1em;
}

.product-item--title {
  font-size: 1.2rem;
  margin-bottom: 0.8em;
}

.product-item--sku {
  font-weight: bold;
}

.product-item--description {
  margin-top: 0.8em;
  font-size: 0.9em;
  font-style: italic;
}